html, body {
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
}

#wrapper {
	height: 100%;
	width: 75%;
	margin: 35px auto;
	position: relative;
}

#header {
	position: relative;
	font-size: 19.5px;
	line-height: 29px;
}

#floatRight {
	text-align: right;
}

a {
	text-decoration: none;
}

#break {
	height: 1px;
	width: 100%;
}

.row {
	height: 150px;
	width: 100%;
	margin: 0px 0px 30px 0px;
	text-align: justify;
	min-width: 650px;
}
.row image {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#footer {
	font-size: 13px;
	text-align: center;
}

li {
	display: inline;
	margin: 0px 20px;
}